    <h3>Créditos</h3>
		<img src="https://avatars2.githubusercontent.com/u/5117156?v=3&s=100" /><br>
		<p>Esta página esta realizada por <a href="https://github.com/jenkin90">jenkin90</a> para el curso <a href="https://www.miriadax.net/web/javascript-node-js/inicio"><em>
Desarrollo de servicios en la nube con HTML5, Javascript y node.js
</em></a> de <a href="https://www.miriadax.net/home">Miriada X</a></p>



