<table>
<%
	var i;
	for(i=0;i<quizes.length;i++){
%>
	<tr>
		<td>
			<a href="/quizes/<%= quizes[i].id %>">
				<%= quizes[i].pregunta %>
			</a>
		</td>
	</tr>
<%
	}
%>
</table>
<form name="datos" action="/quizes">
<label>Filtro: <input type="text" name="search" /></label>
<input type="submit">
</form>	

